if [ -f ${config_directory}/bootuuid.cfg ]; then
  source ${config_directory}/bootuuid.cfg
fi
if [ -n "${BOOT_UUID}" ]; then
  search --fs-uuid "${BOOT_UUID}" --set boot --no-floppy
else
  search --label boot --set boot --no-floppy
fi
if [ -d ($boot)/grub2 ]; then
  set prefix=($boot)/grub2
else
  set prefix=($boot)/boot/grub2
fi
configfile $prefix/grub.cfg
